name: CICD
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: install packages
        run: make install
      - name: format
        run: make format
      - name: lint
        run: make lint
      - name: test
        run: make test
  deploy:
    runs-on: ubuntu-latest
    needs: build   # it is not executed if build fails
    env:
          DOCKER_IMAGE: ${{ secrets.DOCKERHUB_USERNAME }}/mlops-lab3-api:latest
          RENDER_HOOK_BASE_URL: https://api.render.com/deploy/srv-d4ni35khg0os739d2l5g?key
    
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@v1.3.1
        # This action removes pre-installed tools (like Android SDKs, .NET, Haskell)
        # that you don't need for a Python/Docker build.
        # It frees up ~30GB of space.
        with:
          tool-cache: true
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          swap-storage: true
      - name: Checkout repository (with submodules)
        uses: actions/checkout@v4 
        with:
          submodules: recursive

      - name: Set up QEMU (for buildx)
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: ${{ env.DOCKER_IMAGE }}
          file: ./Dockerfile
      - name: Trigger Render Deploy
        run: curl -X POST "${{ env.RENDER_HOOK_BASE_URL }}=${{ secrets.RENDER_DEPLOY_HOOK_KEY }}"


  deploy-hf:
    runs-on: ubuntu-latest
    needs: deploy   # it is not executed if deploy fails
    steps:
      - name: Checkout repository with all branches
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # needed to access other branches (hf-space)
          ref: main
      
      - name: Switch to hf-space branch
        run: |
          git fetch origin hf-space
          git checkout hf-space
      
      - name: Add Hugging Face remote
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          HF_USERNAME: ${{ secrets.HF_USERNAME }}
        run: git remote add huggingface https://${HF_USERNAME}:${HF_TOKEN}@huggingface.co/spaces/${HF_USERNAME}/mlops-lab3-gui.git

      - name: Push hf-space branch to Hugging Face
        run: git push huggingface hf-space:main --force
